In [1]:
import pandas as pd

In [2]:
machine = pd.read_csv('newdemo.csv')

,Project ID,Start Date,Part ID,Quantity,Process,Time
0,T-1910,21-07-2021,Cavity Insert,36.0,SG Block up,0.36
1,NaN,NaN,NaN,NaN,CNC Turning Bottom Setting,0.36
2,NaN,NaN,NaN,NaN,CNC Turning Top Setting,0.54
3,NaN,NaN,NaN,NaN,CNC Milling,0.36
4,NaN,NaN,NaN,NaN,Insert Identification,0.36
...,...,...,...,...,...,...
98,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,.

In [3]:
newmach = (machine.fillna(method='ffill'))

,Project ID,Start Date,Part ID,Quantity,Process,Time
0,T-1910,21-07-2021,Cavity Insert,36.0,SG Block up,0.36
1,T-1910,21-07-2021,Cavity Insert,36.0,CNC Turning Bottom Setting,0.36
2,T-1910,21-07-2021,Cavity Insert,36.0,CNC Turning Top Setting,0.54
3,T-1910,21-07-2021,Cavity Insert,36.0,CNC Milling,0.36
4,T-1910,21-07-2021,Cavity Insert,36.0,Insert Identification,0.36
...,...,...,...,...,...,...
98,T-1912,25-07-2021,Stripper Insert,36.0,Inspection,0.14
99,T-1912,25-07-2021,Stripper Insert,36.0,Inspection,0.14
100,T-1912,25-07-2021,Stripper Insert,36.0,Inspection,0.14
101,T-1912,25-07-2021,Stripper Insert,36.0,Inspection,0.14
102,T-1912,25-07-2021,Stripper Insert,36.0,Inspection,.

In [4]:
newmach.to_csv('newdemoedit.csv')